
/* .title{
    font-size: 3.5rem;
    color:#444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 } */
 
 .XUUsC{
   margin-left: 300px;
   margin-bottom:-50px;
 }
 
.myVideo{
   width: 70%;
   /* height: 17%; */
   /* 
   margin-top: -439px;
   border-radius: 25px; */
}

 .productos{
    padding-top: 80px;
    padding-bottom: 3px;
    font-weight: 500;
 }
 .beneficios-title{
   padding: 3px;
   margin-top: 30px;
   margin-bottom: 40px;

}
.camaras-description{
   margin-top: -20px;
   font-size: 18px;
}


.knowledge {
   background-color: #e5e5f7;
   background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
   background-size: 20px 20px;
   background-position: 0 0, 10px 10px;
   overflow: hidden;
   padding-top: 80px;
}
.navbar .nav-link.active {
   color: red;
}

section[id]{
   scroll-margin-top: 10px!important;
}

.knowledge__container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1em;
   align-items: center;
}

.knowledge__picture{
   display: inline-block;
   max-width: 1140px;
   width: 86%;
   height: 100%;
}
.knowledge__picture2{
   display: inline-block;
   max-width: 1140px;
   width: 80%;
   height: 70%;
}

.knowledege__texts{
   font-size: 15px;
   margin-top: 20px;
  
}
.knowledge__paragraph{
   line-height: 1.7;
   margin-bottom: 15px;
   text-align: justify;
}

.knowledge__img{
   width: 100%;
   height: 100%;
}

.hero{
   width: 70%;
   margin-left: 250px;
}

.text-card{
   letter-spacing: .08px;
}

@media (max-width:800px){
   .knowledge__container{
       grid-template-columns: 1fr;
       grid-template-rows: max-content 1fr;
       gap: 3em;
       text-align: center;
   }
   .knowledege__texts .subtitle{
       font-size: 20px;
   }
   
   .knowledge__picture{
       grid-row: 1/2;
       justify-self: center;
       width: 90%;
       height: 80%;
       margin-bottom: 80px;
       margin-top: 20px;
   }
   .knowledge__picture2{
      grid-row: 1/2;
      justify-self: center;
      width: 90%;
      height: 87%;
      margin-bottom: 80px;
   }
   .hero{
       width: 100%;
       margin-left: 0;
   }
}



.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1rem;
 }
.products-container .product{
    text-align: center;
    padding:2rem 1rem;
    border-radius: 50px;
background: linear-gradient(145deg, #ffff, #ffff);
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    cursor: pointer;
 }
.products-container .product:hover{
   box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -8px -8px 20px 0px #fff9,
    inset -5px -5px 6px 0px #fff9, inset 8px 8px 20px 0px #0003,
    inset 5px 5px 6px 0px #0001;
}

.products-container .product img{
    width: 190px;
 }
.products-container .product:hover img{
    transform: scale(0.9);
 }
.products-container .product p{
   text-align: center;
   padding: 10px 10px ;
   font-size: 15px;
   color:#444;
 }
.products-container .product:hover p{
   font-weight: 700;
 }
.products-container .product .price{
   font-size: 0.8rem;
   margin-top:-10px;
   color:#444;
 }

 
 @media (max-width:480px){
   .product img{
      width: 140px!important;
   }
   .text-cams{
      font-size: 20px!important;
      margin-bottom: -10px;
      margin-left: -40px;
   }
   .text-cams-cctv{
      font-size: 20px!important;
      margin-bottom: -20px;
      margin-right: 100px;
   }
   .text-cams-cctv01{
         font-size: 11px;
         margin-bottom: -80px;
   }

   .text-cams2{
      font-size: 11px;
      margin-left: -40px;
      margin-bottom: -50px;
   }
   .knowledge__paragraph{
      margin-top: -70px;
   }
}
 