
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #DE0024;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.3);
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--dark);
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    /* color: var(--dark); */
    text-decoration: none;
}

img {
    width: 100%;
}

/* .navbar {
    box-shadow: var(--box-shadow);
} */

.logo-web {
    width: 160px;
    margin-left: 145px;
}
#iconosnav{
    margin-right: 150px!important;
}

.logo-offcanvas{
    width: 100px;
    margin-left: 50px;
}
.logo-footer{
    width: 140px;
}

/* .drop-down02 .sub-menu02
{
	position: relative!important;
    padding: 5px;
}
.sub-menu01{
	left: 110px!important;
	top: -40px!important;
} */

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
    
}
.navbar-dark .navbar-nav a.nav-link {
    color: #ffffff;
    font-size: 1.1em;
  }
  /* .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 0;
    padding: 0.7em;
  }

  .dropdown-toggle::after {
    margin-left: 5px;
  }
 


  @media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
  } */
  /* .dropdown-menu li .dropdown-item {
    color: gray;
    padding: 0.5em 1em;
    font-size:0.9rem ;
  }
  .dropdown-menu li .dropdown-item:hover {
    background-color:white;
  } */
  /* .dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--primary);
  }
  .dropdown-menu li:first-child a:hover {
    background-color: white;
  } */
 /*  .accordion-body{
    margin-top: -10px;
    background-color: transparent!important;
  } */
  /* .accordion-button{
    padding: 8px!important;
  } */
  /* .accordion-collapse collapse{
    display: flex;
    justify-items: flex-start;
  }
  
  .accordion-body ul a {
    padding-left: -10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .accordion-button:not(.collapsed) {
    background-color: white;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: red;
  }
  .accordion-button:focus {
    box-shadow: none!important;
  } */
  /* @media only screen and (max-width: 992px) {
    .dropdown-menu.show {
      flex-wrap: wrap;
      max-height: 350px;
      overflow-y: scroll;
    }
  } */
  /* @media only screen and (min-width: 992px) and (max-width: 1140px) {
    .dropdown:hover .dropdown-menu {
      width: 40vw;
      flex-wrap: wrap;
    }
  } */
  
  .dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }

/* .nav-link{
    color: var(--dark)!important;
} */
/* .offcanvas-body {
    margin-top: 150px;
    text-align: center;
    
}
.offcanvas-title{
    margin-top: 15px;
    color: var(--primary);
}
.dropdown-menu02{
    color: var(--dark);
    position:unset!important;
    width: 100%; 
    transform: translate3d(-5px, 0px, 0px)!important;
} */
.text-cam{
    white-space: inherit!important;
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}
.btn-close{
    margin: -20px 5px 10px!important;
}


/* .hero {
    background-image: url(../img/camara-exterior.jpg);
    background-size: cover;
    background-position: revert;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero-banner{
    color: var(--dark);
    margin-top: 85px;
    text-shadow: 2px 2px 2px white;
} */
/* .hero-slider::after {
    background-image: url(../img/grande-c3wpro.jpg);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */


section {
    padding-top: 60px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--primary);
    /* font-size: 32px; */
    border-radius: 100px;
    flex: none;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
    user-select: none;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


/* .service:hover .iconbox {
    background-color: var(--primary);
    color: var(--primary);
} */

.service:hover h5,
.service:hover p {
    color: var(--white);;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

.col-img {
    background-image: url(../img/camaraseguridad-cel.jpg);
    background-position: center;
    background-size: cover;
    min-height: 200px;
}

.project {
    position: relative;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
    user-select: none;
}

.project img {
    transition: all 0.4s ease;   
}

.project:hover .overlay{
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}

#pricing{
    margin-top: 200px;
}
.pricing i {
    font-size: 20px;
    color: var(--primary);
}

.pricing ul li {
    margin-top: 8px;
}

.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}


.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primarys);
    text-decoration: none!important;
}


form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.02);
}


.footer-top {
    padding-top: 60px;
    padding-bottom: 0;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}
.footer .detail-contact {
    color: var(--white)!important;
}

.footer-bottom {
    background-color: #242933;
}

@media (max-width:768px){
    .navbar .nav-link {
        font-size: 25px;
        font-weight: 700;   
    }
    #iconosnav{
        display: none;
    }
    .logo-web{
        width: 140px;
        margin-left: 270px;
    }
    /* .accordion-body {
        padding:0px!important ;
        margin-top: 10px;
    }
    .accordion-item{
        text-align: justify!important;
      }
    .accordion-body ul a {
        padding-left: -10px;
        font-size: 13px;
        text-transform: uppercase;
        padding: 5px;
        padding-left: 0px;
        font-weight: bold;
    }
    .accordion-button:not(.collapsed) {
        color: #DE0024;
    }
    .accordion-button::after {
        color: #DE0024;
        margin-left:15px;
    }
    ul a .dropdown-item{
        white-space: inherit;
    }
    
    .dropdown:hover .dropdown-menu {
        pointer-events: none;
        width: 100%;
      }
      .dropdown-menu.show {
        pointer-events: none;
        width: 100%;
      } */
    .hero{
        background-position: center;
    }
    .hero-banner{
        margin-top: 0px;
    }
    .logo-footer{
        width: 80px;
    }
    .iconbox {
        width: 42px;
        height: 42px;
    }
}
@media (max-width:375px){
    #iconosnav{
        display: none;
    }
    .logo-web{
        width: 140px;
        margin-left: 60px!important;
    }
    /* .logo-web{
        margin-left: 15px;
    }
    #iconosnav{
        margin-left: -12px;
    } */
}
@media (max-width:320px){
    .logo-web{
        margin-left: 50px!important;
    }
}
@media (max-width:480px){
    /* .offcanvas{
        transition: transform .3s cubic-bezier(0.4, 0, 1, 1)!important;
    }
    .offcanvas-end{
        width: 200px!important;
    }
    .dropdown ul li a {
        
        font-size: 13px!important;
    } */
    .navbar-expand {
        padding: 8px;
    }
    #iconosnav{
        display: none;
    }
    .logo-web{
        width: 140px;
        margin-left: 100px;
    }
    .col-img{
        margin-left: 12px;
    }
    .service-title{
        position: relative;
        right: -60px;
        top: -52px;
    }
    .service-description{
        margin-top: -35px;
    }
    h1{
        font-size: 1.5rem;
    }
    .title-over{
        font-size: 13px!important;
    }
}
