
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #DE0024;
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.3);
    --padding-container: 100px 0;
}
.text-danger{
    color: #DE0024!important;
}
.btn-danger{
    background-color: #DE0024!important;
}
section[id]{
  scroll-margin-top: 50px!important;
}

.carouselfade{
  animation: fadeIn 2s ease;
}
@keyframes fadeIn{
  0%{
    opacity:0;
    filter: blur(5px);
  }
  10%{
    opacity: 1;
    filter: brightness(1) blur(2px);
  }
}


.reveal-fade{
  animation: fadescroll 2s ease ;
}
@keyframes fadescroll{
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.btn-card {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
 }

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn-card:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
  color: white;

}

.btn-1 {
  background-image: linear-gradient(to right, #74EBD5 0%, #9FACE6 100%);

}

.btn-dark{
    color: #fff;
    background-color: black;
    border-color: black;
}

.btn-dark:hover{
  color: #fff;
    background-color: black;
    border-color: black;
}

.bg-danger{
    background-color: #DE0024!important;
}
.btn-tecno{
    color: rgb(48 151 211);
    font-size: 1rem;
}
.btn-tecno:hover{
    color: #fff;
    background-color: rgb(48 151 211);
}
.text-verde{
    color: green;
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--dark);
    overflow:visible;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}


h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
    
}
h1{
    font-size: 2.5rem;
}

a {
    /* color: var(--dark); */
    text-decoration: none;
}

.carousel-item {
  transition: linear 0.4s!important;
}


img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
    padding: 2px;
}
.navbar-brand{
    margin-right: 50px;
}
.logo-web {
    width: 50px;
    margin-right: 10px;
}
#iconosnav{
    margin-right: 150px!important;
}
#call{
  padding-left: -2000px;
}
#contact-header {
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: -35px;
    user-select: text;
    
}
#contact-header:hover {
    color: #DE0024;
}
#contact-header > .fa-phone{
    cursor: pointer;
}
#contact-header > .fa-phone:hover{
    transform: rotate(130deg);
}

.logo-offcanvas{
    width: 100px;
    margin-left: 50px;
}
.logo-footer{
    width: 80px;
}

/* .drop-down02 .sub-menu02
{
	position: relative!important;
    padding: 5px;
}
.sub-menu01{
	left: 110px!important;
	top: -40px!important;
} */

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
    
}

.navbar-light .navbar-nav .nav-link{
    color: var(--dark);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #DE0024;
}

  /* .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 0;
    padding: 0.7em;
  }

  .dropdown-toggle::after {
    margin-left: 5px;
  }
 


  @media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
  } */
  /* .dropdown-menu li .dropdown-item {
    color: gray;
    padding: 0.5em 1em;
    font-size:0.9rem ;
  }
  .dropdown-menu li .dropdown-item:hover {
    background-color:white;
  } */
  /* .dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--primary);
  }
  .dropdown-menu li:first-child a:hover {
    background-color: white;
  } */
  .accordion-item{
    padding: 25px!important;
  }
  .accordion-button{
    padding: 8px!important;
    font-weight: 700;
  }
  .accordion-body{
    font-size: 16px;
  }
  .accordion-button:not(.collapsed) {
    box-shadow: none!important;
    background-color: white;
    color: #242933;
  }
  .accordion-button:not(.collapsed)::after {
    color: #DE0024!important;
  }
  .accordion-button:focus {
    box-shadow: none!important;
  }
  /* @media only screen and (max-width: 992px) {
    .dropdown-menu.show {
      flex-wrap: wrap;
      max-height: 350px;
      overflow-y: scroll;
    }
  } */
  /* @media only screen and (min-width: 992px) and (max-width: 1140px) {
    .dropdown:hover .dropdown-menu {
      width: 40vw;
      flex-wrap: wrap;
    }
  } */
  #control-access{
    margin-bottom: 43px;
  }

  .dropdown-item{
    color: var(--dark);
  }
  .dropdown-item:hover {
    background-color:var(--primary)!important;
    color: white;
  }
  ul #dropdown-custom .dropdown-menu li .dropdown-item:hover {
    background-color:var(--primary)!important;
  }
  .dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }

/* .nav-link{
    color: var(--dark)!important;
} */
/* .offcanvas-body {
    margin-top: 150px;
    text-align: center;
    
}
.offcanvas-title{
    margin-top: 15px;
    color: var(--primary);
}
.dropdown-menu02{
    color: var(--dark);
    position:unset!important;
    width: 100%; 
    transform: translate3d(-5px, 0px, 0px)!important;
} */
.text-cam{
    white-space: inherit!important;
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}

.btn {
    border-radius: 50px;
}
.btn-close{
    margin: -20px 5px 10px!important;
}


/* .hero {
    background-image: url(../img/camara-exterior.jpg);
    background-size: cover;
    background-position: revert;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero-banner{
    color: var(--dark);
    margin-top: 85px;
    text-shadow: 2px 2px 2px white;
} */
/* .hero-slider::after {
    background-image: url(../img/grande-c3wpro.jpg);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */
#slider h2{
    font-size: 25px;
}


section {
    padding-top: 60px;
    padding-bottom: 120px;
}

.card-effect {
    -webkit-border-radius: 50px;
border-radius: 50px;
background: white;
-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
}

.iconbox-proyect{
    width: 54px;
    height: 54px;
    border-radius: 100px;
    flex: none;
}


.pwhole{
  position: relative;
    width: 100%;
  }
  #features{
    padding: 15px;
  }

  /* .detail-camimg{
    margin-left:-100px;
} */
.img-detail{
  width: 100%;
}
/* .subtitle-detail{
    font-size: 20px;
    margin-top: -20px;
    margin-left: 20px;
    user-select: none;
  } */

  .service-1 {
      position: relative;
      z-index: 2;
      overflow: hidden;
      height: 290px;
      text-decoration: none;
  }
  
  
.service-1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    background-color: #DE0024;
    z-index: -1;
    opacity: 0.92;
    transition: all 0.4s ease-out;
  }

.service-1 .service-camaras{
display: none;
}
.service-1:hover .service-camaras {
  display: block!important;
}
  .service-title{
    text-align: center;
    margin: 17px;
    padding: 5px;
  }
.service-description{
  color: #21252f;
    line-height: 1.5;
    text-align: center;
}
/* .service-1 p{
  display: none;
} */
.service-1:hover p{
  /* margin-bottom: 25px; */
  transition: all 1 ease;
}


.service-1:hover h5, .service-1:hover p{
  font-weight: 700;
  color: white;
}

.service-1:hover::after {
    top: 0;
    border-radius: 30px;
    transition: all 1 ease;

}

.col-img {
    background-image: url(../img/camaraseguridad-cel.jpg);
    background-position: center;
    background-size:cover;
    margin-left: 20px;
    width: 60%;
    min-height: 100px;
}
.col-img2{
    background-image: url(https://www.digittecnic.com/wp-content/uploads/2019/01/tipo-camaras-seguridad.jpg);
    background-position: center;
    background-size:contain;
    margin-left: 20px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
}
.project {
    position: relative;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
    user-select: none;
}

.project img {
    transition: all 0.4s ease;   
}

.project:hover .overlay{
    opacity: 1;
}

.project:hover img {
    transform: scale(1.2)translate(18px, 15px);
}

#pricing{
    margin-top: 200px;
}
.pricing i {
    font-size: 20px;
    color: var(--primary);
}

.pricing ul li {
    margin-top: 8px;
}

#team{
    margin-top: -80px;
}
.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primarys);
    text-decoration: none!important;
}


/* about us */
#origin{
    margin-top: -60px;
}
#about{
	padding-top: 80px;
	padding-bottom: 80px;
}
#about h1{
	padding-bottom: 70px;
}
#about-col ul{
	padding-top: 0px;
	margin-left: 60px;
}
#banner-row{
    margin-left: 110px;
}
#about-col ul li{
	padding-top: 15px;
}
.img-nosotros {
    width: 500px;
}

/* products */
#product{
	padding-top: 80px;
	padding-bottom: 80px;
}

#product h1{
	padding-bottom: 70px;
}
#product-col2 ul{
	padding-top: 90px;
}

#product-col2 ul li{
	padding-top: 15px;
}




.footer-top {
    padding-top: 5px;
    padding-bottom: 5;
    background-color: var(--dark);
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}
.footer .detail-contact {
    color: var(--white)!important;
}

.footer-bottom {
    background-color: #242933;
}

/* .form{
	width: 40%;
	background-color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
} */
hr.solid {
    border-top: 3px solid #bbb;
}
.line-divider{
    border-bottom:3px solid#DE0024;
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    bottom: 1px;
    left: calc(50% - 60px);
}
/* .form h1{
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
} */
/* .form form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
} */
.flex-rev {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
		width: 100%;
}

.flex-rev input, .flex-rev textarea {
    border: none;
    background-color: #e6e6e6;
    padding: 12px 10px;
    font-size: 16px;
    resize: none;
    margin-top: 7px;
    margin-bottom: 16px;
    border-radius: 5px;
    color: #243342;
    outline-color: #243342;
    outline-width: thin;
	 -webkit-appearance: none;
}
.flex-rev textarea{
	height: 150px;
}
button{
	-webkit-appearance: none;
	margin-right: 0;
}


.info {
    position: relative;
    padding: 20px;
}


.info h2 {

    font-size: 34px;
}

.info h3 {

    letter-spacing: 1.2px;
    margin-top:  20px;
}

.svg-wrap {
    display: flex;
    margin-top: 14px;
}

.svg-wrap a {
    border: 0;
    padding: 0;
    display: flex;
    color: var(--dark);
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.svg-wrap a svg {
    width: 20px;
    height: 20px;
    fill: var(--dark);
    transition: fill 0.2s ease-in-out;
    margin-right: 13px;
}

.svg-wrap a:hover svg {
    fill: var(--primary);
    cursor: pointer;
}

.svg-wrap a:hover {
    background-color: transparent;
    color: var(--primary);
    cursor: pointer;
}


.hero-img {
  width: 100%;

  min-height: 600px;
  max-height: 200px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/tecnologia-acusense-banner-1920x640.jpg);
  background-size: cover;
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%); */
  z-index: -1;
}
.hero__container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-top: 250px!important;
  text-align: initial;
}

.hero__title {
  width: 450px;
}

.hero__paragraph {
  color: var(--dark);
  margin-bottom: 20px;
  width: 500px;
}

.cta {
  display: inline-block;
  background-color: #2091F9;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}
.img-acusense{
  width: 80px;
}
.caption-acusense{
  width: 300px!important;
}

@media screen and (max-width: 900px){
	.content{
		padding: 10px 0 0;
		display: block;
	}
	.map{
		display: none;
	}
	.contact{
		width: 100%;
		flex-direction: column-reverse;
		border-radius: 0;
		box-shadow: 0px 0px 0px 0px;
	}
	.other{
		width: 100%;
		padding: 20px 0;
	}
	.form{
		width: 100%;
	}
}

@media screen and (max-height: 660px){
	.content{
		align-items: flex-start;
	}
}

/*CONTACT*/

.img-sensores{
  width: 400px;
}

@media (max-width:768px){
    .navbar-brand {
        margin: 0px;
        margin-left: 0px!important;
    }
    .navbar .nav-link {
        font-size: 25px;
        font-weight: 700;   
    }
    .slider-card{
      margin: 50px 50px 90px 50px!important;
    }
    #call{
        display: none;
    }
    .hero{
        background-position: center;
    }
    .hero-banner{
        margin-top: 0px;
    }
    .iconbox {
        width: 42px;
        height: 42px;
    }
}
@media (max-width:1024px){
    .navbar-brand {
        margin-right: 0px;
        margin-left: 80px;
    }
    #iconosnav {
        margin-left: 10px!important;
    }
}

@media (max-width:375px){
  #titlelogo{
    font-size: 14px;
  }
    .navbar-brand{
        margin-right:30px;
        margin-left: 0px!important;
    }
    .alt-send-button {
        width: 100%!important;
    }
    .contact-text{
        letter-spacing: normal;
        font-size: 15px;
    }
    .place {
        margin-left: 50px;
    }
    /* .iconbox {
        margin-left: 0px!important;
    } */
    #iconosnav{
        display: none;
    }
    /* .logo-web{
        width: 140px;
        margin-left: 60px!important;
    } */
    /* .logo-web{
        margin-left: 15px;
    }
    #iconosnav{
        margin-left: -12px;
    } */
}
@media (max-width:480px){
    /* .img-cellpone{
        width: 160px!important;
        height: 320px!important;
    } */
    /* section {
      padding-top: 0px!important;
      padding-bottom: 0px!important;
  } */
  .service-1{
    padding-top: 40px;
    height: auto;
  }
  .service-description{
    font-size: 12px;
  }
  .service-title{
    padding: 20px 0px 15px!important;
    margin: 0%;
    font-size: 16px;
  }
  .service-camaras .btn{
    font-size: 13px;
  }
  .caption-acusense{
    display: none!important;
  }
  .hero__title {
    width: auto!important;
  }
  .hero__paragraph{
    width: auto!important;
  }
  .acusense-video {
    width: 100%!important;
    height: 200%!important;
  }
  #titlelogo{
    font-size: 13px!important;
  }
  #control-access{
    margin-bottom: 0px!important;
  }
  .title-videoport{
    margin-bottom: -40px!important;
  }
  .title-control{
    margin-bottom: 60px!important;
    text-align: center!important;
  }
  #title-client{
    margin-bottom: 40px;
  }
  #slider, #contact{
    padding-top: 0!important;
  }
    .btm-product{
      margin-bottom: 0!important;
    }
    .contact-text{
        letter-spacing: normal;
        font-size: 15px;
    }
    .place {
        margin-left: 20px;
    }
    .alt-send-button{
        width: auto;
    }
    .img-client{
        max-width: 100%!important;
        right: 20px;
      }
      #client-logo{
        padding-top:12px!important ;
      }
      #client-logo00{
        margin-top: -15px!important;
      }
      #client-logo3{
        padding-top:15px!important ;
      }
      #client-logo7{
        padding-top: 12px!important;
      }
      #client-logo8{
        padding-top:20px!important ;
      }
      #client-logo9{
        padding-top:8px!important ;
      }
      #client-logo10{
        padding-top:16px!important ;
      }
      #client-logo11{
        padding-top:20px!important ;
      }
      #client-logo12 {
        padding-top: 8px!important;
      }
      #client-logo13 {
        padding-top: 0px!important;
      }
      #client-logo14{
        padding-top: 5px!important;
      }
    /* .iconbox{
        margin-left:130px!important;
    } */
    .iconbox > h5 p{
      text-align: center;
    }
    .camaras-description{
        margin-top: 30px;
        text-align: justify;
        line-height:1.8rem!important;
        font-size: 14px!important;
     }
    .XUUsC {
        margin-left: 60px!important;
    }
    .contact-page{
      margin-top: -30px!important;
      margin-bottom: -100px!important;
    }
    .wrapper-page{
      margin-top: -50px!important;
    }
    .section-header{
        margin-left: 0px!important;
        text-align: center;
    }
    .sub-header{
        margin-left: 20px!important;
    }
     .subtitle-detail{
        font-weight: normal!important;
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
        user-select: none;
    }
    .img-detail {
      width: 60%;
      margin-left: 70px;
  }
    .detail-camimg {
        margin-top: 10px;
        margin-left: 35px;
    }
    .myVideo {
      width: 80%!important;
      margin-left: 40px!important;
      /* height: 17%; */
  }

    .title-feat{
        text-align: center;
        font-size: 1.3rem;
    }
    .navbar-brand{
        margin-left: 0px;
        margin-right: 40px;
    }
    #iconosnav{
        display: none;
    }
    /* .navbar-brand{
        margin-left: 60px!important;
    } */
    .btn-tecno{
        color: #fff!important;
        background-color: rgb(48 151 211)!important;
    }
    .btn-tecno:hover{
        color: rgb(48 151 211)!important;
    }
    .logo-web{
        width: 50px;
    }
    .col-img{
        margin-left: 12px;
    }
    .col-img2{
        margin-top: -20px;
        margin-left: 0!important;
    }
    .img-nosotros{
        width: 100%;
        height: 100%;
    }
    #about{
      margin-top: -100px;
    }
    #about-col ul{
        margin-left: -20px!important;
        font-size: 1rem!important;
    }
    #about h1 {
        padding-bottom: 30px!important;
    }
    #banner-row{
        margin-left: 0px!important;
    }
    #banner-col2{
        margin-left: -55px!important;
    }
    #team{
      margin-top: -150px!important;
  }
    h1{
        font-size: 1.5rem;
    }
    .title-over{
        font-size: 13px!important;
    }
    .contact{
        margin-top: -20px!important;
    }
    #client > .owl-carousel > .owl-dots{
        display: none!important;
    }
}
